<%= render "shared/navbar" %>
  <div class="flex-grow-1">
    <div class="container py-5 tofit">
        <h1>My Bookings</h1>

        <% if @bookings.empty? %>
          <p>There are no bookings yet.</p>
        <% else %>
          <ul>
            <% @bookings.each do |booking| %>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <div class="card-image" style="background-image: url(<%= booking.boat.photo.attached? ? cl_image_path(booking.boat.photo.key) : 'https://res.cloudinary.com/dipnvqfev/image/upload/v1669214577/production/svp2tose58vdk3dizs3ynsrrmbw4.jpg' %>)">
                    </div>
                    <div class="card-body">
                      <li> <%= booking.boat.name%></li>
                      <p class="card-title"><%= booking.start_date %></p>
                      <p class="card-text"> <%= booking.end_date %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </ul>
        <% end %>
      <div class="back-to-boats">
        <%= link_to "Back to Boats", boats_path, class: "btn btn-only-text-black flex-shrink-1" %>
    </div>
  </div>
</div>
