<div class="container py-5">
  <h1>All of our boats</h1>
  

  <% @boats.each do |boat| %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-image" style="background-image: url(<%= boat.photo_attachment ? cl_image_path(boat.photo.key) : 'https://cdn.boatinternational.com/convert/files/2022/11/f8be9c00-6b15-11ed-9143-a1ae6fafdd97-miza%20side%20profile.jpg/r%5Bwidth%5D=1920&r%5Bheight%5D=1080/f8be9c00-6b15-11ed-9143-a1ae6fafdd97-miza%20side%20profile.webp' %>)">
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= boat.name %></h5>
              <p class="card-text">€ <%= boat.price %>,- p. day</p>
              <%= link_to "More info", boat_path(boat), class: "btn btn-primary" %>
              <%= link_to "Delete", boat_path(boat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-warning" %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
