<%= render "shared/navbar" %>
    <div class="flex-grow-1"><div class="container vh-80">
  <div class="upload-boat-form">
    <div class="upload-boat">
      <h1>Upload My Boat</h1>
    </div>

    <%= simple_form_for @boat do |f| %>
      <%= f.input :name, placeholder: "What's the name of your boat?" %>
      <%= f.input :category, prompt: "Choose a category", collection: ["Sailing", "Fishing", "Yacht", "Motor boats", "Row boat"] %>
      <%= f.input :description, placeholder: "Please take some time to describe your boat" %>
      <%= f.input :size, placeholder: "How big is your boat?" %>
      <%= f.input :capacity, placeholder: "What is the maximum capacity of your boat?" %>
      <%= f.input :price, placeholder: "What is the price per day of your boat?" %>
      <%= f.input :address, placeholder: "Where is your boat located?" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: "btn btn-only-text-black" %>
    <% end %>
    <div class="back-to-boats">
      <%= link_to "Back to Boats", boats_path, class: "btn btn-only-text " %>
    </div>
  </div>
</div>
